body {
  background-color: #cccc66;
  padding: 35px;
  height: 100%;
  width: auto;
  margin: 0 auto;
}
#wrapper {
  background-color: #fff;
  height: 100%;
  padding: 0 35px;
}
header {

}
.pageTop {
  height: auto;
  /* background-color: antiquewhite; */
}
.pageTopArea {
  /* background-color: cornflowerblue; */
  position: relative;
  padding: 100px 0;
}
.pageTopArea > ul {
  /* background-color: yellowgreen; */
  display: flex;
  list-style-type: circle;
  position: absolute;
  width: 15%;
  top: 110px;
  left: 50px;
}
.pageTopArea > ul > li{
  width: 100%;
  /* background-color: cornsilk; */
  text-align: center;
  list-style: none;
}
.pageTopArea > div {
  width: 50%;
  /* background-color: turquoise; */
  margin: auto;
}
.headLine-top > img {
  height: 160px;
}
.headLine-bottom > img {
  height: 1000px;
}
.leadImage-place {
  height: 800px;
}
.leadImage-holdingPeriod {
  height: 450px;
}
.headLine-top {
  /* background-color: tomato; */
  margin: auto;
  text-align: center;
}
.headLine-bottom {
  text-align: center;
  /* background-color: violet; */
  width: 70%;
  margin: auto;
}
.pageTop-imagArea {
  background-color: black;
  height: 850px;
  width: 750px;
  margin: auto;
}
.pageTop-imagArea > img {
  height: 850px;
}
.headLine-background {
  position: absolute;
  top: 220px;
  right: 50px;
}
.headLine-background > img {
  height: 220px;
}
.roundIllustrations {
  padding: 30px 0;
  width: 30%;
  margin: auto;
  display: flex;
  justify-content: space-evenly;
}
.roundIllustrations > img {
  height: 28px;
}





nav {
  height: 1500px;
  background-color: antiquewhite;
}
nav > div {
  background-color: tomato;
  height: 400px;

}
nav > div > ul {
  background-color: whitesmoke;
  height: 50%;
  display: flex;
  width: 100%;
  text-align: center;
  border-top: dashed 3px;
  border-bottom: dashed 3px;
}

nav > div > ul > li {
  background-color: thistle;
  margin: auto;
  list-style: none;
  font-size: 45px;
  font-weight: bold;
  height: 60%;
}




footer {
  /* background-color: #fff;
  height: 100%; */
}
/* .footer-snsArea {
  background-color: lightcyan;
}
.footer-snsArea > ul {
  display: flex;
}
.footer-snsArea > ul > li {
  width: 100%;
  list-style: none;
}
.footer-snsArea > ul > li > a {
  display: inline-block;
}
.footer-leftBox {
  background-color: lightgoldenrodyellow;
  display: flex;
}
.footer-leftBox-text {
  background-color: lightgreen;
}
.footer-rightBox {
  background-color: lightgoldenrodyellow;
}
.footer-rightBox-head {
  display: flex;
}
.footer-rightBox-head-imageFrame {
  background-color: lightgreen;
  height: 40px;
  width: 40px;
}
.footer-rightBox-head-imageFrame > img {
  height: 30px;
  width: 30px;
  background-color: lightpink;
}
.footer-rightBox-head-titleBox {

}
.footer-rightBox-head-titleBox > h3 {
  background-color: lightgreen;
}
small {
  background-color: lightgreen;
} */