body {
  background-color: #d1d39e;
  padding: 45px;
  height: auto;
  width: auto;
  margin: 0 auto;
}
#wrapper {
  background-color: #fffffc;
  /* height: 5000px; */
  padding: 0 20px;
}
header {

}
.pageTop {
  height: auto;
  /* background-color: antiquewhite; */
}
.pageTopArea {
  /* background-color: cornflowerblue; */
  height: auto;
  position: relative;
  padding: 120px 0;
}
.pageTopArea > ul {
  /* background-color: yellowgreen; */
  display: flex;
  list-style-type: circle;
  position: absolute;
  width: 15%;
  top: 110px;
  left: 50px;
}
.pageTopArea > ul > li{
  width: 100%;
  /* background-color: cornsilk; */
  text-align: center;
  list-style: none;
}
.pageTopArea > div {
  width: 50%;
  /* background-color: turquoise; */
  margin: auto;
}
.leadArea {
  /* background-color: violet; */
  margin: 0px 0 0 0;
}
.leadMark {
  height: 25px;
  margin-bottom: 5px;
}
.headLine-top > img {
  height: 150px;
}
.headLine-bottom > img {
  height: 700px;
}
.leadImage-place {
  height: 800px;
}
.leadImage-holdingPeriod {
  height: 430px;
}
.headLine-top {
  /* background-color: tomato; */
  margin: auto;
  text-align: center;
  position: relative;
  z-index: 2;
}
.headLine-bottom {
  text-align: center;
  /* background-color: violet; */
  width: 70%;
  margin: auto;
}
.pageTop-imagArea {
  background-color: black;
  height: 750px;
  width: 700px;
  margin: auto;
}
.pageTop-imagArea > img {
  height: 750px;
  width: 700px;
}
.headLine-background {
  position: absolute;
  top: 210px;
  right: 100px;
}
.headLine-background > img {
  height: 220px;
}
.headLine-background02 {
  position: absolute;
  top: 650px;
  right: 40px;
}
.headLine-background02 > img {
  height: 400px;
  opacity: 0.05;
}
.roundIllustrations {
  padding: 30px 0;
  width: 30%;
  margin: auto;
  display: flex;
  justify-content: space-evenly;
}
.roundIllustrations > img {
  height: 28px;
}





nav {
  height: 550px;
  /* background-color: antiquewhite; */
}
nav > div {
  /* background-color: tomato; */
  height: 400px;

}
nav > div > ul {
  /* background-color: whitesmoke; */
  height: 55%;
  display: flex;
  width: 95%;
  text-align: center;
  border-bottom: dashed 3px #cccc66;
}
.upperNavigation {
  border-top: dashed 3px #cccc66;
}

nav > div > ul > li {
  /* background-color: thistle; */
  margin: auto;
  list-style: none;
  font-size: 40px;
  font-weight: bold;
  height: auto;
  font-family: "ヒラギノ明朝 Pro W3","ＭＳ 明朝";
  letter-spacing: -0.1em;
}
.downArrow {
  height: 15px;
  position: absolute;
  margin-top: 25px;
}
.floorMapText {
  height: auto;
  line-height: 40px;
}
.cookingNavigation {
  /* background-color: wheat; */
  height: 100%;
  display: flex;
  flex-direction: row-reverse;
}
.cookingNav-headLine {
  /* background-color: violet; */
  height: 1000px;
  width: 20%;
  position: absolute;
  right: 60px;
}
.cookingNav-background {
  /* height: 100px; */
}
.cookingNavSubTitle {
  height: 150px;
  position: absolute;
  top: 170px;
  right: 49px;
  z-index: 1;
}
.cookingNavigation > div > h3 {
  font-size: 80px;
  position: absolute;
  letter-spacing: 7px;
  top: 350px;
  right: -70px;
  writing-mode: vertical-rl;
  font-family: "ヒラギノ明朝 Pro W3","ＭＳ 明朝";
  z-index: 1;
}
.cookingArea {
  /* background-color: white; */
  border: solid 0.5px lightgray;
  height: 980px;
  width: 100%;
  position: relative;
}
.cooking-head {
  /* background-color: yellow; */
  height: 420px;
  width: 95%;
  display: flex;
  position: absolute;
  top: 20px;
  left: 0;
}
.cooking-head > li {
  /* background-color: white; */
  height: 470px;
  width: 90%;
  position: absolute;
  position: relative;
  top: 30px;
  list-style: none;
}
.cooking-bottom {
  /* background-color: yellowgreen; */
  height: 500px;
  width: 95%;
  display: flex;
  position: absolute;
  top: 430px;
  left: 0;
}
.cooking-bottom > li {
  /* background-color: white; */
  height: 470px;
  width: 90%;
  position: absolute;
  position: relative;
  top: 30px;
  list-style: none;
}

.cooking-textLeft {
  position: absolute;
  top: 0px;
  right: 30px;
  /* background-color: wheat; */
  height: 450px;
  width: 70px;
}
.cooking-textLeft > h4 > img {
  width: 50px;
  position: absolute;
  /* right: -50px; */
}
.cooking-imgLeft {
  position: absolute;
  top: 90px;
  right: 100px;
  /* background-color: wheat; */
  height: 260px;
  width: 260px;
}
.cooking-imgLeft > img {
  width: 250px;
  position: absolute;
  right: 0;
}

.cooking-textRight {
  position: absolute;
  top: 0px;
  right: 120px;
  /* background-color: wheat; */
  height: 450px;
  width: 70px;
}
.cooking-textRight > h4 > img {
  width: 50px;
  position: absolute;
  right: 0;
}
.cooking-imgRight {
  position: absolute;
  top: 90px;
  right: 180px;
  /* background-color: wheat; */
  height: 260px;
  width: 260px;
}
.cooking-imgRight > img {
  width: 250px;
  position: absolute;
  right: 0px;
}

.wavyLine-zouni {
  /* background-color: #cccc66; */
  height: 200px;
  position: absolute;
  top: 130px;
  left: 25px;
  border-left: dashed 3px #d1d39e;
}
.wavyLine-sukiyaki {
  height: 120px;
  position: absolute;
  top: 210px;
  left: 43px;
  border-left: dashed 3px #d1d39e;
}
.wavyLine-pirahu {
  height: 35px;
  position: absolute;
  top: 360px;
  left: 25px;
  border-left: dashed 3px #d1d39e;
}
.arrowButton {
  /* background-color: lightgreen; */
  position: absolute;
  top: 340px;
  left: 13px;
  height: 30px;
  width: 30px;
}
.lowerTriangle-zouni {
  height: 45%;
  position: absolute;
  top: 10px;
  left: 6px;
  z-index: 2;
}
.yellowGreenCircle-zouni {
  height: 100%;
  position: absolute;
  right: 0px;
}
.lowerTriangle-sukiyaki {
  height: 45%;
  position: absolute;
  top: 10px;
  left: 23px;
  z-index: 2;
}
.yellowGreenCircle-sukiyaki {
  height: 100%;
  position: absolute;
  left: 15px;
}
.lowerTriangle-pirahu {
  height: 45%;
  position: absolute;
  top: 70px;
  left: 6px;
  z-index: 2;
}
.yellowGreenCircle-pirahu {
  height: 100%;
  position: absolute;
  top: 60px;
  right: 0px;
}
.lowerTriangle-sabaki {
  height: 45%;
  position: absolute;
  top: 70px;
  left: 26px;
  z-index: 2;
}
.yellowGreenCircle-sabaki {
  height: 100%;
  position: absolute;
  top: 60px;
  right: -20px;
}

section {
  height: 1300px;
  background-color: lightpink;
  margin-top: 50px;
}




footer {
  /* background-color: #fff;
  height: 100%; */
}
/* .footer-snsArea {
  background-color: lightcyan;
}
.footer-snsArea > ul {
  display: flex;
}
.footer-snsArea > ul > li {
  width: 100%;
  list-style: none;
}
.footer-snsArea > ul > li > a {
  display: inline-block;
}
.footer-leftBox {
  background-color: lightgoldenrodyellow;
  display: flex;
}
.footer-leftBox-text {
  background-color: lightgreen;
}
.footer-rightBox {
  background-color: lightgoldenrodyellow;
}
.footer-rightBox-head {
  display: flex;
}
.footer-rightBox-head-imageFrame {
  background-color: lightgreen;
  height: 40px;
  width: 40px;
}
.footer-rightBox-head-imageFrame > img {
  height: 30px;
  width: 30px;
  background-color: lightpink;
}
.footer-rightBox-head-titleBox {

}
.footer-rightBox-head-titleBox > h3 {
  background-color: lightgreen;
}
small {
  background-color: lightgreen;
} */